<h1>Seasons#index</h1>
<p>Find me in app/views/seasons/index.html.erb</p>

<ul>
  <% @seasons.each do |season| %>
    <li><%= season.name %></li>
  <% end %>
</ul>

<div class="new-season-btn">
  <%= link_to new_season_path do %>
     <button type="button" class="btn btn-primary">Nouvelle Saison</button>
  <% end %>
</div>
