<div class="pages-wrapper">
  <div class="page-title">
    <h1>Saisons en cours</h1>
  </div>

  <div class="slates-wrapper">
      <% @seasons.each do |season| %>
        <%= link_to season_path(season.id), class: 'single-slate' do %>
          <div class="slate-icon">
            <%= inline_svg 'brennus.svg' %>
          </div>
          <div class="slate-text">
            <h3><%= season.name %></h3>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="new-season-btn">
    <%= link_to new_season_path do %>
       <button type="button" class="btn btn-primary">Nouvelle Saison</button>
    <% end %>
  </div>

</div>
