<div class="pages-wrapper">
  <div class="page-title">
    <h1><%= @season.name %></h1>
  </div>

  <div class="slates-wrapper">
    <% @teams.each do |team| %>
      <%= team.name %>
      <%= team.id %>
    <% end %>
</div>

<%= @season.display_calendar %>
