.pages-wrapper {
  width: 100vw;
  height: calc(100vh - 60px);
  margin: 0;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //  background-color: white;
}

.slates-wrapper {
  position: absolute;
  top: 180px;
  bottom: 100px;
  left: 0;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  overflow-y: scroll;
  a {
    text-decoration: none;
    color: black;
    width: 600px;
    max-width: 95%;
    height: 100px;
    margin: -1px 0;
  }
}

.single-slate {
  width: 100%;
  display: flex;
  border: 2px solid white;
  background-color: #54BF3C;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all .2s ease-in-out;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.8);
  }
}

.slate-icon {
  height: 100px;
  width: 100px;
  min-width: 100px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slate-text {
  height: 100px;
  width: calc(100% - 100px);
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
