.teams-show-slates-wrapper {
  position: absolute;
  top: 120px;
  bottom: 70px;
}

.players {
  width: 100%;

  // Pour développement
  border: 1px solid lightgreen;
}

.budget {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65px;
  right: 20px;
  font-size: 12px;
  width: 40px;
  height: 40px;
  border: 2px solid $opposite;
  border-radius: 50%;
}
