<div class="player-slate owned">
  <div class="player-info name">
    <%= @player.first_name %> <%= @player.last_name %>
    <%#= player_availability(@player, @team) %>
  </div>
  <div class="player-info position">
    <%= @player.position %>
  </div>
  <div class="player-info club">
    <%= @player.club %>
  </div>
  <div class="player-info offer">
    Recruté
  </div>
</div>

