.btn-primary {
  background-color: $main;
  border-color: $main;
  &:hover {
    background-color: #DD6B28;
    border-color: #DD6B28;
  }
}

.action-btn img {
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    box-shadow: -1px 1px 5px rgba(150, 150, 150, 0.8);
  }
}
