.navbar {
  background-color: #2D7DD2;
  height: 60px;
  width: 100%;
}


.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.page-title {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  // Développement uniquement
  background-color: lightgrey;
}
